@import 'null-style.scss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@font-face {
   font-family: 'College';
   src: url('../fonts/college/collegeb.ttf');
   font-style: normal;
   font-weight:  700;
}
/* Regular */

@font-face {
    font-family: 'SynchPro';
    src: local('PFSynchPro'),
         url('../fonts/SynchPro/PFSynchPro-Regular.ttf') format('truetype'),
         url('../fonts/SynchPro/PFSynchPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/SynchPro/PFSynchPro-Regular.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

/* Medium */

@font-face {
    font-family: 'SynchPro';
    src: local('PFSynchPro'),
         url('../fonts/SynchPro/PFSynchPro-Medium.ttf') format('truetype'),
         url('../fonts/SynchPro/PFSynchPro-Medium.eot') format('embedded-opentype'),
         url('../fonts/SynchPro/PFSynchPro-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'SynchPro';
    src: local('PFSynchPro'),
         url('../fonts/SynchPro/PFSynchPro-Bold.ttf') format('truetype'),
         url('../fonts/SynchPro/PFSynchPro-Bold.eot') format('embedded-opentype'),
         url('../fonts/SynchPro/PFSynchPro-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

/* Black */

@font-face {
    font-family: 'SynchPro';
    src: local('PFSynchPro'),
         url('../fonts/SynchPro/PFSynchPro-Black.ttf') format('truetype'),
         url('../fonts/SynchPro/PFSynchPro-Black.eot') format('embedded-opentype'),
         url('../fonts/SynchPro/PFSynchPro-Black.woff') format('woff'); 
    font-weight: 900;
    font-style: normal;
}

.players {
    font-size: 60px;
    font-family: 'FuturaDemic';
    color: #0054a5;
    padding: 80px 0 0 80px;
    @media (max-width: 1200px) {
        padding: 80px 0 0 30px;
        font-size: 36px;
    }
    p {
       color: #0054a5;
       line-height: 0px;
       
    }
    .underline {
       display: inline-block;
       width: 700px;
       border-bottom: solid 3px #1678d4;
       @media (max-width: 1200px) {
            width: 80%;
       }
    }
 }

 .contacts__container {
    font-family: 'SynchPro';
    margin-top: 25px;

    .sports__palace {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: 1200px) {
            flex-direction: column-reverse;
            margin: 0;
        }
    img {
        box-shadow: 0px 0px 20px rgba(221, 221, 221, 0.37);
        width: 600px;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    h2 {
        margin: 10px 0 0 0;
        font-weight: 500;
        font-size: 20px;
        color: #3d3d3d;
        @media (max-width: 600px) {
            margin: 10px 10px 0;
        }
    }
    }
    .contacts__text {
        background-color: #1678d400;
        width: 550px;
        margin-bottom: 35px;
        height: 360px;
        color: #3d3d3d;
        text-align: left;
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
        @media (max-width: 1200px) {
            height: auto;
        }
        @media (max-width: 600px) {
            width: calc(100% - 20px);
            margin: 0 10px 35px;
            font-size: 16px;
            img {
                width: 26px !important;
            }
        }
        a {
            color: #3d3d3d;

            &:hover {
                color: rgb(255, 255, 255);
                text-decoration: underline;
                background-color: #1678d4;
            }
        }

        span {
            color: #0054a5;
            font-size: 22px;
            @media (max-width: 600px) {
                font-size: 18px;
            }
        }
    }
    .underline {
        display: inline-block;
        width: 700px;
        border-bottom: solid 3px #1678d4;
        border-radius: 10px;
        margin-bottom: 30px;
        @media (max-width: 1201px) {
            width: 95%;
        }
    }
    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 20px 0;
        .volleyball__map {
            border: 2px dashed #1678d4;
            box-shadow: 0px 0px 10px rgba(206, 206, 206, 0.562);
            @media (max-width: 1203px) {
                width: 90%;
                height: 60vh;
            }
        }

        h2 {
            font-weight: 500;
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
 }
 