@mixin Arrows {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
    &:hover {
        background-color: #095aa19a;
        text-shadow: 0;
    }
}

@mixin Area_w_h ($a, $b) {
    width: $a;
    height: $b;
    .gall_img, .img_text {
        width: $a;
        height: $b;
    }
}

@mixin Area_w_h_mob {
    grid-area: auto;
    height: 100%;
    width: 100%;
        .gall_img {
            width: 100%;
            height: 100%;
        }
        
}

.slide {
	width: 100vw;
    height: calc(100vh - 220px);
    background-image: url(../img/grozny-226.jpg);
    background-size: cover;
    background-position: 50% 20%;
    .slide_text {
        background-color: #095aa1cc;
        height: 300px;
        width: 1000px;
        font-size: 3rem;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px 0 0 0;
        overflow: hidden;
        h3 {
            color: #ffffff;
            margin: 0 50px;
        }
    }
}
html,
body {
    height: 100%;
    font-size: 15px;
}
//-----mySwiper-----//
.swiper {
    width: 100%;
    height: 75vh;
    @media (max-width: 1200px) {
        height: max-content;
    }
}
.swiper-pagination {
    display: inline-block;
    padding: 20px;
    width: 180px !important;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    text-align: center !important;

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        line-height: 20px;
        background-color: #57b9fa;
        opacity: .4;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    p {
        position: absolute;
        bottom: 20%;
        right: 0;
        font-family: 'FuturaDemic';
        color: white;
        font-size: 70px;
        background-color: #0055a55b;
        padding: 15px 30px 15px 30px;
        border-radius: 50px 0px 50px 0px;
        @media (max-width: 1200px) {
            font-size: 45px;
        }
    }
    img {
        width: 100%;
        object-fit: cover;
        background-position: center;
    }
}
.swiper-button-next,
swiper-rtl .swiper-button-prev::after {
    margin-top: 100px !important;
    padding: 30px !important;
    border-radius: 50%;
    color: #e4e4e4 !important;
    background-color: #1554dd50;
    @media (max-width: 1200px)  {
        margin-top: 0 !important;
    }
    @media (max-width: 640px) {
        display: none !important;
    }
}
.swiper-button-prev,
swiper-rtl .swiper-button-next::after {
    margin-top: 100px !important;
    padding: 30px !important;
    border-radius: 50%;
    color: #e4e4e4 !important;
    background-color: #1554dd50;
    @media (max-width: 1200px)  {
        margin-top: 0 !important;
    }
    @media (max-width: 640px) {
        display: none !important;
    }
}
//-----Swiper-End-----//
 
.gallery {
    margin: 0 auto 100px;
    width: 1200px;
    @media (max-width: 1200px) {
        width: 80%;
        margin: auto
    }
    h2 {
        font-size: 2rem;
        font-family: monospace;
        color: #0959a1;
        text-align: center;
        margin: 40px 0;
    }

    .photos {
        display: grid;
        justify-items: center;
        gap: 40px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        'img1 img1 img1 img2 img2 img2'
        'img3 img3 img4 img4 img5 img5';
        @media (max-width: 1200px) {
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            grid-template-areas: unset;
            grid-template-rows: auto;
        }
        .img_1 {
            grid-area: img1; 
            @include Area_w_h($a: 100%, $b: 360px);
            @media (max-width: 1200px) {
                @include Area_w_h_mob;
            }
         }
        .img_2 {
            grid-area: img2; 
            @include Area_w_h($a: 100%, $b: 360px);
            @media (max-width: 1200px) {
                @include Area_w_h_mob;
            }
         }
        .img_3 {
            grid-area: img3; 
            @include Area_w_h($a: 100%, $b: 240px);
            @media (max-width: 1200px) {
                @include Area_w_h_mob;
                
            }
         }
        .img_4 {
            grid-area: img4; 
            @include Area_w_h($a: 100%, $b: 240px);
            @media (max-width: 1200px) {
                @include Area_w_h_mob;
            }
         }
        .img_5 {
            grid-area: img5; 
            @include Area_w_h($a: 100%, $b: 240px);
            @media (max-width: 1200px) {
                @include Area_w_h_mob;
            }
         }
        .gall_img {
            border-radius: 10px;
            transition: .2s;
        }
        .img_text {
            margin: 0;
            background-color: #095aa152;
            border-radius: 10px;
            position: absolute;
            transition: .2s;
            opacity: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                opacity: 1;
                transform: scale(1.05, 1.05);
            }
            &:hover + .gall_img {
                transform: scale(1.05, 1.05);
            }
            p {
                color: #ffffff;
                font-family: monospace;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }
}
